@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    
    ViewBag.TopLeftBtnClass = "itemVisible";
    ViewBag.TopLeftBtnLink = "/User";
    
    ViewBag.TopRightBtnClass = "itemHidden";
}
<p class="error">
    Sorry, an error occurred.</p>
